form {
    text-align: center;
    color: #000000;
    font-size: 20px;
    padding: 5px;
  }
  h1.my {
    text-align: center;
    color: #5042f4;
    font-size: 60px;
    padding: 5px;
  }
  
  h2.my {
    text-align: center;
    color: #000000;
    font-size: 25px;
    background-color: rgba(244, 101, 66, 0.6);
    padding: 5px;

  }
  h3.my {
    text-align: center;
    color: #000000;
    font-size: 20px;
    padding: 5px;
  }

  body {
    background-color: #5342f4;
    background-image: url('images/INDEX.jpg');
    background-size: 1500px;
    background-position: center;
  }
  